/Pytorch/data/
/Pytorch/data2/
/Pytorch/MNIST/
/Sklearn/tutorial_stuff/tutorial_data
/Tensorflow/Semantic Analysis/data.csv
/Tensorflow/tutorial_stuff/data
/Tensorflow/tutorial_stuff/lego_model.h5
/Hadoop/data
/Hadoop/code/reviews.json